

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
   background-color: hsl(0, 100%, 74%) ;

    background-image: url("/bg-intro-desktop.png");
}

.form-container{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 0 70px;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin-left: 20px;
    width: 50%;
    color: #fff;

}

.input-container{
    display: flex;
    flex-direction: column;
    border: 2px green;
    gap: 10px;
    width: 50%;
    height: 420px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.form-input{
    padding: 15px;
    border-radius: 4px;
    border: 0.5px solid black;
}

.form-button{
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: hsl(154, 59%, 51%) !important;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.call-button{
    background-color: hsl(248, 32%, 49%) !important;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    border: none;
}

.grey-text{
    color: hsl(246, 25%, 77%);
}

.form-text{
    color: hsl(246, 25%, 77%);
}

.green-text{
color: hsl(154, 59%, 51%);
 text-transform: capitalize;
}

.error{
    color: red;
}

@media screen and (max-width:375px) {
    .form-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding:0 20px;
    }

    .text-container{
        width: 100%;
    }

    .input-container{
        width:100%;
    }
}